<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <style>
            body{background: #ea983f ;}</style> 
</head>
<body>
    <p style="font-family: 'Black Han Sans', sans-serif;font-size:50px;">랜덤게임</p>
    <p style="font-family: 'Black Han Sans', sans-serif;font-size:30px;">
    *인트로 : ㅇㅇ이가 좋아하는 랜덤게임~~무슨 게임~~게임 스타트~!
    <br><br>*게임규칙
    <br>원하는 게임 아무거나 가능! 
    <br>예시: 베스킨라빈스 31, 딸기 3비트, 고래게임</p>
</p>
<br><br><br><Br>

            <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">
                 <a href="javascript:history.back()">되돌아가기</a>
                </p>
</body>
</html>