<script src="http://code.jquery.com/jquery.min.js"></script>

<head>
  	{% load static %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'finalapp/game_final19.css' %}">
</head>

<body>

    <div class="wrapper">
    <h1 class="result">동전을 뒤집어라!</h1>
    <div class="coin-container">
      <div id="coin">           
        <div class="coin-side heads">
          <div class = "img">
            <img src = "{% static 'finalapp/game_final19.png' %}">
          </div>  
        </div>
        <div class="coin-side tails">
          <div class = "img">
            <img src = "{% static 'finalapp/soonshin.png' %}">
          </div>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <a href="#" class="btn js-flip-coin">뒤집기!</a>
    </div>
    </div>
  <script src= "{% static 'finalapp/game_final19.js' %}"></script>
  <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">
    <a href="javascript:history.back()">되돌아가기</a>
  </p>
</body>
