<script src="http://code.jquery.com/jquery.min.js"></script>

<head>
{%load static %}
     <link rel = "stylesheet" type = "text/css" href = "{% static 'finalapp/b.css' %}">
     <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet"> 
</head>

<body>
     <script type="text/javascript" src="https://leaverou.github.io/prefixfree/prefixfree.min.js"></script>

     <section>
         <div id="action">
             <div id="keg">
                 <div id="pipe-handle"></div>
                 <div id="pipe"></div>       
                 <div id="pipe-front"></div>
             </div>
         
             <div class="glass">
                 <div class="beer"></div>
                 <div class="handle">
                     <div class="top-right"></div>
                     <div class="bottom-right"></div>
                 </div>
                 <div class="front-glass"></div>
             </div>
         </div>
     </section>
         
   
          <h2 class="animated drunk"><p style="font-family: 'Black Han Sans', sans-serif; font-size:55px;color:white">소맥 원샷~!
               <br>BEST: 소주3 맥주7
          </p>


                    <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">
    <a href="javascript:history.back()">되돌아가기</a>
  </p>
    
  