<script src="http://code.jquery.com/jquery.min.js"></script>

<head>
    {% load static %}
    <link href = "{% static 'finalapp/24.css' %}" rel="stylesheet"/>
    <script src = "{% static 'finalapp/24.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#ee").select2();
        });
    </script>
</head>
<body>
    <img src = "{% static 'finalapp/서울지하철1호선.jpeg' %}">
    <br>

    <h1>-------------------------1호선----------------------</h1>
    
    <br>
<select id="ee">
    <option value="">눌러서 검색해주세요</option>
    <option value="">가능역</option>
    <option value="">가산디지털단지역</option>
    <option value="">개봉역</option>
    <option value="">관악역</option>        
    <option value="">광명역</option>
    <option value="">광운대역</option>
    <option value="">구로역</option>        
    <option value="">구일역</option>
    <option value="">군포역</option>
    <option value="">금정역</option>
    <option value="">금천구청역</option>
    <option value="">남영역</option>
    <option value="">노량진역</option>
    <option value="">녹양역</option>
    <option value="">녹천역</option>
    <option value="">당정역</option>
    <option value="">대방역</option>
    <option value="">덕계역</option>
    <option value="">덕정역</option>
    <option value="">도봉역</option>
    <option value="">도봉산역</option>
    <option value="">도원역</option>
    <option value="">도화역</option>
    <option value="">독산역</option>
    <option value="">동대문역</option>
    <option value="">동두천역</option>
    <option value="">동두천중앙역</option>
    <option value="">동묘앞역</option>
    <option value="">동암역</option>
    <option value="">동인천역</option>
    <option value="">두정역</option>
    <option value="">망월사역</option>
    <option value="">명학역</option>
    <option value="">방학역</option>
    <option value="">배방역</option>
    <option value="">백운역</option>
    <option value="">병점역</option>
    <option value="">보산역</option>
    <option value="">봉명역</option>
    <option value="">부개역</option>
    <option value="">부천역</option>
    <option value="">부평역</option>
    <option value="">서동탄역</option>
    <option value="">서울역</option>
    <option value="">서정리역</option>
    <option value="">석계역</option>
    <option value="">석수역</option>
    <option value="">성균관대역</option>
    <option value="">성환역</option>
    <option value="">세류역</option>
    <option value="">소사역</option>
    <option value="">소요산역</option>
    <option value="">송내역</option>
    <option value="">송탄역</option>
    <option value="">수원역</option>
    <option value="">시청역</option>
    <option value="">신길역</option>
    <option value="">신도림역</option>
    <option value="">신설동역</option>
    <option value="">신이문역</option>
    <option value="">신창역</option>
    <option value="">쌍용역</option>
    <option value="">아산역</option>
    <option value="">안양역</option>
    <option value="">양주역</option>
    <option value="">역곡역</option>
    <option value="">영등포역</option>
    <option value="">오류동역</option>
    <option value="">오산역</option>
    <option value="">오산대역</option>
    <option value="">온수역</option>
    <option value="">온양온천역</option>
    <option value="">외대앞역</option>
    <option value="">용산역</option>
    <option value="">월계역</option>
    <option value="">의왕역</option>
    <option value="">의정부역</option>
    <option value="">인천역</option>
    <option value="">제기동역</option>
    <option value="">종각역</option>
    <option value="">종로3가역</option>
    <option value="">종로5가역</option>
    <option value="">주안역</option>
    <option value="">중동역</option>
    <option value="">지제역</option>
    <option value="">지행역</option>
    <option value="">직산역</option>
    <option value="">진위역</option>
    <option value="">창동역</option>
    <option value="">천안역</option>
    <option value="">청량리역</option>
    <option value="">평택역</option>
    <option value="">화서역</option>
    <option value="">회기역</option>
    <option value="">회룡역</option>
    

</select>
                <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">
                 <a href="javascript:history.back()">되돌아가기</a>
                </p>
</body>