<!DOCTYPE html>
<html lang="en">
<head>
{%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet"> 
    <style>
            body{background: #ea983f ;}</style>
</head>
<body>
        <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">두부딸기 게임</p>
    <p style="font-family: 'Black Han Sans', sans-serif; font-size:30px">
        *인트로 : 두~부두부두부 딸기딸기딸기딸기! 두~부두부두부 딸기딸기딸기딸기!
        <br><br>*게임규칙
        <br>1. 걸린 사람을 ‘두부 3모’로 두고 왼쪽으로 ‘한 모’ ‘두 모’ 오른쪽으로 ‘네 모’ ‘다섯 모’를 외친다
    <br>2. 지목을 당한 사람은 '딸기가 좋아' 게임과 같이 두부 N모에 알맞은 '딸기'를 외쳐야 한다</p>
    <br><br><br><Br>

                <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">
                 <a href="javascript:history.back()">되돌아가기</a>
                </p>
</body>
</html>