<!DOCTYPE html>
<html lang="en">
<head>
{%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet"> 
    <style>
            body{background: #ea983f ;}</style>
</head>
<body>
        <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">손병호 게임
            <img src="{% static 'finalapp/손.png' %}" width="50", height="50"> <img src="{% static 'finalapp/손가락.png' %}" width="50", height="50"></p>
    <p style="font-family: 'Black Han Sans', sans-serif; font-size:30px">
        *게임규칙
        <br>1.모두 다섯 손가락을 편 후 서로가 잘 보이도록 앞으로 내민다
       <br>2. 술래부터 시작해 시계방향으로 돌아가며, 술래는 자신을 제외한 나머지 사람들에게 해당될 것 같은 조건을 말한다
       <br>3.손가락이 가장 빨리 모두 접힌 사람이 벌칙을 받는다</p>
    <br><br><br><Br>
                <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">
                 <a href="javascript:history.back()">되돌아가기</a>
                </p>
</body>
</html>