<!DOCTYPE html>
<html lang="en">
<head>
{%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet"> 
    <style>body{background: #ea983f ;}</style>
</head>
<body>
        <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">고진감래주 한 잔 지목!</p>
    <p style="font-family: 'Black Han Sans', sans-serif; font-size:30px">
        *고진감래주 제조법 : <br><img src="{% static 'finalapp/고진감래.jpeg' %}" width="500",height="500"></p>
        <br><br><br><Br>
                        <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">
                 <a href="javascript:history.back()">되돌아가기</a>
                </p>
</body>
</html>