<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet"> 
    <style>
            body{background: #ea983f ;}</style>
</head>
<body>
    {% load static %}
        <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">훈민정음</p>
        <img src="{% static 'finalapp/한국.png' %}">
    <p style="font-family: 'Black Han Sans', sans-serif; font-size:30px">
        *인트로 : 훈민정음~훈민정음~ ㅇㅇ이가 좋아하는 훈민정음~~
        <br><br>*게임규칙
        <br>1. 걸린 사람이 자음을 말하면 그 사람을 제외한 나머지는 자음에 맞는 단어를 생각한다
    <br>2. 단어가 생각나면 바로 그 사람 엄지 위로 엄지를 붙인다
    <br>3. 가장 늦게 말한 사람이 벌칙을 받는다</p>
    <br><br><br><Br>
                <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">
                 <a href="javascript:history.back()">되돌아가기</a>
                </p>
</body>
</html>