<head>
{%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet"> 
    <style>body{background: #ea983f ;}</style>
</head>
<body>
    <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px;">더게임오브데스</p>
    <p style="font-family: 'Black Han Sans', sans-serif; font-size:30px;">*인트로: 신난다~재미난다~더 게임오브데스~!
    <br> <br> 게임규칙
    <br>1.인트로를 부르며 서로 상대방을 지목한다
        <br>2.술래는 지목과 동시에 특정 숫자를 외친다
        <br>3.술래부터 시작하여 해당 숫자만큼 지목한 손가락 끝방향을 따라간다
        <br>4.술래가 외친 숫자에 해당하는 사람이 벌칙을 받는다
        <br><br><br><Br>
                                <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">
    <a href="javascript:history.back()">되돌아가기</a>
  </p>
</body>
</html>