<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet"> 
    <style>
            body{background: #ea983f ;}</style>
</head>
<body>
        <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">눈치 게임</p>
    <p style="font-family: 'Black Han Sans', sans-serif; font-size:30px">
        *게임규칙
        <br>1. 게임을 시작하는 사람이 1을 외치며 자리에서 일어나면 차례대로 일어난다
        <br>2. 제일 늦게 일어나거나 동시에 일어나면 마신다</p>
        <br><br><br><Br>

                    <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">
                 <a href="javascript:history.back()">되돌아가기</a>
                </p>
</body>
</html>