<html>
<head>
    <title></title>
    <meta charset=utf-8>
    <meta name=description content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    {% load static %}
    <link rel="import" href="http://www.polymer-project.org/components/paper-ripple/paper-ripple.html">
    <link rel="stylesheet" type="text/css" href= "{% static 'finalapp/game_final11_a.css' %}">
    <link rel="stylesheet" type="text/css" href= "{% static 'finalapp/game_final11.css' %}">
    <script src="{% static 'finalapp/game_final11_a.min.js' %}"></script>
</head>
<body>
    <div class="landing" id="landing">
       <div class="start-form">
            <div class="landing-form">
                <div class="group">      
                  <input type="text" name="member" required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>참여자 수</label>
                    <div  id="button" class="button raised green">
                      <div  class="center" fit>START</div>
                      <paper-ripple fit></paper-ripple>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <div id="ladder" class="ladder">
        <div class="dim"></div>
         <canvas class="ladder_canvas" id="ladder_canvas"></canvas>
    </div>
  <script src= "{% static 'finalapp/game_final11.js' %}"></script>

            <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">
                 <a href="javascript:history.back()">되돌아가기</a>
            </p>
</body>
</html>