<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet"> 
    <style>
            body{background: #ea983f ;}</style>
            
</head>
<body>
        {% load static %}
        <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">딸기당근수박참외메론~~게임
        <br><img src="{% static 'finalapp/strawberry.png' %}" width="50", height="50">
        <img src="{% static 'finalapp/carrot.png' %}" width="50", height="50">
        <img src="{% static 'finalapp/watermelon.png' %}" width="50", height="50">
        <img src="{% static 'finalapp/melon.png' %}" width="50", height="50">
        <img src="{% static 'finalapp/melon2.png' %}" width="50", height="50"></p>
    <p style="font-family: 'Black Han Sans', sans-serif; font-size:30px">
      
        *인트로 : 딸기당근수박참외메론~~게임*2
        
        <br><br>*게임규칙
        <br>1. 기본 박자는 무릎-박수-오른쪽-왼쪽
            <br>2. 딸기, 딸기-당근, 딸기-당근-수박, 딸기-당근-수박-참외, 딸기-당근-수박-참외-메론 순으로 
            <br>박자에 맞춰 말합니다!
            <br>3. 다시 딸기부터 추가해서 이어갑니다!
            <br>4. 박자를 놓치거나 발음이 부정확하면 바로 한 잔~</p>
            <br><br><br><br>  
            <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">
                 <a href="javascript:history.back()">되돌아가기</a>
                </p>
</body>
</html>