<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet"> 
    <style>body{background: #ea983f ;}</style>
</head>
<body>
        <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">백종원 게임</p>
    <p style="font-family: 'Black Han Sans', sans-serif; font-size:30px">
        *게임규칙
        <br>1. 자기차례가 되면 한국음식 이름을 얘기한다
    <br>2. 검색엔진에 검색했을 때 1페이지에 백종원 레시피가 뜨면 술을 마신다</p>
    <form method = get action = "http://www.google.co.kr/search" target = "_blank">
        <table color = "#red">
            <tr>
                <td>
                    <input type = text name = q size = 50 maxlength = 255 value = ""/>
                    <input type = submit name = btnG value = "google 검색" />

                </td>
            </tr>
        </table> 
    </form>
            <p style="font-family: 'Black Han Sans', sans-serif; font-size:50px">
                 <a href="javascript:history.back()">되돌아가기</a>
                </p>
</body>
</html>